*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F7F8F9;
    font-family: 'Roboto', sans-serif; 
    font-size: 1em;
}

.container{
    background-color: white;
    width: 65%;
    margin: 4em auto;
    padding: 3%;
}

h1{
    display: inline;
}


header img{
    vertical-align: middle;
}
   

.header{
    padding: 1em;
    background-color: white;
}


.button{
    padding: 0.5em;
    font-size: smaller;
    font-weight: bold;
    border-radius: 10%;
    border: 1px solid;
}

.add-task{
    background-color: lightskyblue;
    color: white;
    border-color: lightskyblue;
}

.add-section{
    background-color: white;
    color: lightgrey;
    border-color: lightgrey;
}


hr{
    margin: 1em 0;
    width: 100%;
}

.list{
    margin-bottom: 1em;
}


ul{
    list-style-type: none;
}

li:before {
  content: "\2611"; 
  color: green;
  font-size: 2em;
}

li.cross:before {
  content: "\2612"; 
  color: red;
  font-size: 2em;
}

.label{
    background-color: #86CAF1;
    padding: 0.4em;
    font-size: 0.7em;
    color: white;
    border-radius: 25%;
}

.label.purple{
    background-color: purple;
}

.label.green{
    background-color: green;
}

.label.orange{
    background-color: orange;
}

.label.magenta{
    background-color: magenta;
}

.label.lightgreen{
    background-color: lightgreen;
}